// Jade file- to be converted to html file.
html
   head
      title Perfect Forms
      link(rel='shortcut icon', type='image/png', href='/favicon.png')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='./main.css')
   body
      script !{outline_scripts}
      #app
      script(type='text/javascript', src='./bundle.js')